:root {
    --platform-ps: #0068ff;
    --platform-xbox: #37a800;
    --platform-pc: #eee;
    --platform-nintendo: #ff0000;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
}