.hero-slide__lead {
    position: absolute;
    margin-left: 50px;
    width: 600px;
    color: #000;
    font-size: 2vw;
    line-height: 1.5;
}

.usp-list {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}