.newest-releases {
    margin-bottom: 50px;

    & h3 {
        text-align: center;
        margin-top: 50px;
    }

    & .newest-releases__games {
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
    }
}